imports = [
  "ai",
  "common",
  "custom_linux",
  "filesystems/bcachefs",
  "nvidia",
  "pc_temp",
  "filesystems/zfs",
]

# Packages to be installed via the native package manager.
paru = [
  "ethtool",
  "intel-ucode",
  "r8125-dkms",
  "spicetify-cli",
  "update-grub",
  "vial-appimage",
  "wezterm-git",
  "linux-firmware-intel",
  "linux-firmware-nvidia",
  "linux-firmware-other",
  "linux-firmware-whence",
]

cargo = "-F mimalloc,mount,tui --git https://github.com/rustic-rs/rustic rustic-rs"

service = ["macchanger@enp3s0", "backup.timer"]

files = [
  "{hostname}/etc/default/grub",
  "{hostname}/etc/grub.d/40_custom",
  "{hostname}/etc/modprobe.d/r8169.conf",
]

files_copy = [
  "{hostname}/etc/systemd/system/backup.timer",
  "{hostname}/etc/systemd/system/backup.service",
]
